
bcrypt==3.2.0
beautifulsoup4==4.10.0
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.2.0/en_core_web_lg-3.2.0-py3-none-any.whl
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
filelock==3.4.2
flash==1.0.3
Flask==2.0.2
Flask-Bcrypt==0.7.1
Flask-DebugToolbar==0.11.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
gunicorn==20.1.0
ipython==8.0.1
itsdangerous==2.0.1
jedi==0.18.1
jieba3k==0.35.1
Jinja2==3.0.3
joblib==1.1.0
jsonify==0.5
kombu==5.2.4
langcodes==3.3.0
mypy-extensions==0.4.3
newsapi-python==0.2.6
newspaper3k==0.2.8
nltk==3.6.7
numpy==1.22.2
psycopg2==2.9.3
psycopg2-binary==2.9.3
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.8.2
Pygments==2.11.2
pyOpenSSL==22.0.0
pyparsing==3.0.7
pythainlp==3.0.8
python-dateutil==2.8.2
regex==2022.1.18
requests==2.27.1
requests-file==1.5.1
soupsieve==2.3.1
spacy==3.2.1
spacy-legacy==3.0.8
spacy-loggers==1.0.1
SQLAlchemy==1.4.31
textblob==0.17.1
vaderSentiment==3.3.2
vine==5.0.0
WTForms==3.0.1

