Flask==2.0.2
Flask_Bcrypt==0.7.1
Flask_SQLAlchemy==2.5.1
Flask_WTF==1.0.0
newsapi==0.1.1
newsapi_python==0.2.6
newspaper3k==0.2.8
nltk==3.6.7
python_dateutil==2.8.2
spacy==3.2.1
SQLAlchemy==1.4.31
textblob==0.17.1
WTForms==3.0.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
Flask-Session==0.4.0
redis==4.3.4
psycopg2-binary==2.9.3
jinja2==3.0.3
SQLAlchemy==1.4.31
gunicorn==20.1.0
Werkzeug==2.0.0
jinja2==3.0.3
python-dotenv==0.21.0
