body {
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 768px) {
    #left-b{
        order: 1;
    }
    #image {
        order: 0;
        width: 100%;
    }
}

@media only screen and (max-width: 576px) {
    .container {
        margin-left: -20px;
    }
}

.navbar {
    background-color: black;
    overflow: hidden;
}
.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color:#ddd ;
    color: black;
}