<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
          <li>
            {% if g.user %}
            <a href="/">Home</a>
            <a href="/logout">Logout</a>
            <a href="/user">My Stories</a>
            <a href="/user/search">Search</a>
            {% else %}
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            {% endif %}
          </li>
        </ul>
      </nav>
{% block content %}
      <!-- content goes here -->
{% endblock %}
</body>
</html>