{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1 class="display-1 text-center">Login</h1>
        <div>
        <span class= "display-5 text-center alert alert-success alert-dismissible fade show">Don't have an account? <a href="/register" class ="alert-link">Register here</a></span>
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <form method="POST">
                        {{ form.hidden_tag() }}
                        {% for field in form if field.widget.input_type != 'hidden' %}
                        <p>
                            <div class="form-group">
                            {{field.label}}
                            {{field(class_="form-control")}}
                            {%for err in field.errors%}
                            <small class="form-text text-danger">
                            {{err}}
                            </small>
                            {% endfor %}
                            </div>
                        </p>
                        {% endfor %}
                        <button class= "btn btn-success btn-large" type="Submit">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}