{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1 class="form display-3 text-center">Login</h1>
    <div class="text-center text-light">
        <p class="display-5 alert alert-success" id="login-q">Don't have an account? <a href="/register"
                class="alert-link">Register here</a></p>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form method="POST">
                    {{ form.hidden_tag() }}
                    {% for field in form if field.widget.input_type != 'hidden' %}
                    <p>
                    <div class="form-group">
                        {{field.label}}
                        {{field(class_="form-control")}}
                        {%for err in field.errors%}
                        <small class="form-text text-danger">
                            {{err}}
                        </small>
                        {% endfor %}
                    </div>
                    </p>
                    {% endfor %}
                    <button class="submit-b btn btn-success btn-large" type="Submit">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}