{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1 class="display-3 text-center">Search</h1>
    <div class="text-center text-light">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form method="POST" novalidate>
                    {{ form.hidden_tag() }}
                    {% for field in form
                    if field.widget.input_type != 'hidden' %}
                    <p>
                    <div class="form-group">
                        {{field.label}}
                        {{field(class_="form-control")}}
                        {%for err in field.errors%}
                        <small class="form-text text-danger">
                            {{err}}
                        </small>
                        {% endfor %}
                    </div>
                    </p>
                    {% endfor %}
                    <button class="btn btn-success badge-pill btn-large" type="Submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}