{% extends 'base.html' %}
{% block content %}
{% if not results%}
<span class="no-stories">We weren't able to find anything. Try checking your spelling or widening your search query.
</span>
{% endif %}
<section id="stories">
    {% for story in results%}
    <div class="container">
        <ul>
            <div class="row justify-content-center">
                <div class="card my-4">
                    <div class="card-body text-center">
                        <div class="row media">
                            {% if story.pol%}
                            <form data-story="{{story.id}}" class="sa-button col-sm my-auto order1 col-6 " id="left-b"
                                action='/feed/{{story.id}}/polarity' , method="POST">
                                <input type="submit" value="{{story.pol}}" class="btn btn-dark btn-sm badge-pill">
                            </form>
                            {% else %}
                            <form data-story="{{story.id}}" class="sa-button col-sm my-auto order1 col-6 " id="left-b"
                                action='/story/{{story.id}}/polarity' , method="POST">
                                <input type="submit" value="Get Polarity" class="btn btn-dark btn-sm badge-pill">
                            </form>
                            {% endif %}

                            <img class="text-center col-md-6 col-12" id="image" src="{{story.image}}"
                                alt="{{story.headline}}" style="width: 300px; height: 225px; object-fit: contain;" />

                            {% if story.sub%}
                            <form data-story="{{story.id}}" class="sa-button col-sm my-auto col-6" id="right-b"
                                action='/feed/{{story.id}}/subjectivity' action='/sacalls/{{story.id}}/subjectivity' ,
                                method="POST">
                                <input type="submit" value="{{story.sub}}" class="btn btn-dark btn-sm badge-pill">
                            </form>
                            {% else %}
                            <form data-story="{{story.id}}" class="sa-button col-sm my-auto col-6" id="right-b"
                                action='/story/{{story.id}}/subjectivity' ,method="POST">
                                <input type="submit" value="Get Subjectivity" class="btn btn-dark btn-sm badge-pill">
                            </form>
                            {% endif %}
                        </div>

                        <h4 class="card-title text-center"> <a class="headline" href="/story/{{story.id}}/open">
                                {{story.headline}}</a></h4>
                        <h5 class="card-subtitle mb-2 text-center blockquote-footer" id="date">{{story.published_at}}
                            </li>
                            <p class="card-text text-center" id="content">{{story.content}}</p>
                            <form action='/story/{{story.id}}/save_story' , method="POST" id="save">
                                <input type="submit" value="Save Story" class="btn btn-dark btn-sm badge-pill">
                            </form>
                    </div>
                </div>
            </div>
        </ul>
    </div>
    {%endfor%}
</section>

{% endblock %}