{% extends 'base.html' %}
{% block content %}
{% if is_empty == True%}
<span>It looks like you don't have any stories saved yet. To find a story to save, you 
    can either click the search button ontop of the navigation bar to enter a specific search,
    or click the home page to see today's top headlines! 
</span>
{% endif %}
{% for story in user.saved_stories%}

<ul>
    <li> <a href="{{story.url}}"> {{story.headline}}</a></li>
    <li>{{story.content}}</li>
    <li>{{story.published_at}}</li>
    <span><a href="show_story/{{story.id}}">Show Full Story</a></span>
    <hr>

    {% if story.score%}
    <p>Polarity: {{score}}</p>
    {% else %}
    <form action = '/sacalls/{{story.id}}/polarity', method="POST">
        <input type="submit" value="Get Polarity" class="btn btn-success">
        </form>
    </div>
    {% endif %}






    <!-- <button class= "btn btn-success btn-large">Get Polarity</button> -->
    <button class= "btn btn-primary btn-large">Get Subjectivity</button>

    <form action='/story/{{story.id}}/delete_story' , method="DELETE">
        <input type="submit" value="Remove Story" class="btn btn-danger">
        </form>
</ul>
{%endfor%}
{% endblock %}